body {
    background-color: rgb(55, 65, 62);
    color: rgb(228, 228, 64);
    font-family: "Workbench", sans-serif;
    padding: 25px;
}

a {
    color: darkorange
}

h1 {
    color: rgb(55, 65, 55);
    width: 100px;
    font-size: 25px;
    background: yellowgreen;
    margin: 30px 120px;
    padding: 10px, 10px;
}

h2 {
    color: rgb(179, 188, 177);
    font-size: 25px;
    text-align: center;
    color: rgb(55, 65, 55);
    width: 160px;
    font-size: 25px;
    background: yellowgreen;
    margin: 30px 100px;
    padding: 10px, 10px;
}

#Experience {
    border-block-style: dotted;
    writing-mode: horizontal-tb;

}

.intro {
    font-size: 24px;
    color: aquamarine;
}